<html>
    <head>
        <link rel="stylesheet" href="animate.css">
        <title>ZAMN NET -- WHERE THE WORLD SPINS</title>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Raleway:100">
    </head>
    <body>
    {{ yield  }}
    <script src="main.js"></script>
    <link rel="stylesheet" href="mainStyle.css">
    </body>
</html>
